[GdmGreeterTheme]
Greeter=organix.xml
Name=OrganiX
Description=Biology Grows on You!
Author=Solarfields ,-)
Copyright=GPL (c) Modified from Peter Durrill's "Sunergos Blue", which I particularly like! Great job!
Screenshot=screenshot.jpg
